body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.cont {
    display: grid;
    grid-template-columns: 16% 78% 6%;
}
.sidebar {
    background: linear-gradient(95.55deg, rgba(10, 57, 54, 100%) , rgba(75, 169, 165, 100%));
    overflow-y: auto;
    padding: 14px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
}

.sidebar__img {
    display: flex;
    align-items: center;
}

.sidebar__title>div>img {
    width: 75px;
    object-fit: contain;
}

.sidebar__title>div>h1 {
    font-size: 18px;
    display: inline;
}

.sidebar__title>i {
    font-size: 18px;
    display: none;
}

.sidebar__menu>h2 {
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link {
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.sidebar__link:hover  {
    background: rgba(252, 252, 252, 0.3);
    
}

.sidebar__link:hover > a {
    text-decoration: none;
    color: #dfdbdb;
}
/* .active_menu_link {
    background: rgba(252, 252, 252, 0.3);
    color: #ffffff;
  }
   */


.sidebar__link>a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.sidebar__link>i {
    margin-right: 10px;
    font-size: 18px;
}


.sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}
.pagination{
    justify-content: center;
}
.span.page-link{
    cursor:pointer;
}
.fa {
    color: rgb(17, 17, 17);
  }
table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}